{% extends 'layouts/main.html' %}

{% block content %}

<section class="container my-5 py-5">
    <h1>Privacy Policy Page</h1>
    <small>Last Update: Dec 17 2023</small>
    <div class="my-2">
        <p>Thank you for choosing to be part of our community at URL Short Beta ("we", "us", "our", or the "Company"). We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy, or our practices with regards to your personal information, please contact us at osamahawadh01@gmail.com</p>
    
        <p>When you visit our website <a href="https://flaskos.pythonanywhere.com" target="_blank" rel="noopener noreferrer">https://flaskos.pythonanywhere.com</a> and use our services, you trust us with your personal information. We take your privacy very seriously. In this privacy policy, we seek to explain to you in the clearest way possible what information we collect, how we use it, and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this privacy policy that you do not agree with, please discontinue the use of our Sites and our services.</p>
    
        <h2>1. What information do we collect?</h2>
    
        <p>We collect information that your browser sends whenever you visit our Site ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages, and other statistics.</p>
    
        <p>We do not use third-party services or external entities to collect, monitor, or analyze your information. All the data we collect is processed and stored securely within our systems.</p>

        <p>We also store the links that users choose to save during their interactions with the site.</p>
    
        <h2>2. Will your information be shared with anyone?</h2>
    
        <p>We do not share your information with any third party. Your data is kept confidential and is only used for the purposes stated in this privacy policy.</p>
    
        <!-- ... -->
    
    </div>


</section>


{% endblock content %}