{% extends 'layouts/main.html' %}

{% block content %}

<section class="container my-5 py-5">
    <h1>Terms of Use Page</h1>

    <small>Last updated: Dec 17 2023</small>

    <div class="my-2">
        <p>Welcome to URL Short Beta ("we", "us", "our", or the "Platform"). By accessing or using the Platform, you agree to comply with and be bound by the following terms and conditions of use. If you do not agree with these terms, please do not use the Platform.</p>
    
        <h2>1. Personal and Non-Personal Use</h2>
    
        <p>You may use the Platform for both personal and non-personal purposes. Whether you are an individual or an entity, you are granted the right to access and use the Platform in accordance with these Terms of Use.</p>
    
        <h2>2. Prohibited Uses</h2>
    
        <p>You are strictly prohibited from using the Platform for any unlawful or prohibited purpose, including but not limited to activities related to terrorism. Any such activities will be dealt with seriously, and legal action may be taken.</p>
    
        <h2>3. Content Restrictions</h2>
    
        <p>While there are no limitations on the type of content or links you can share, content related to terrorism and sexually explicit material involving children is strictly prohibited. We do not tolerate any form of illegal or harmful content on the Platform.</p>
    
        <h2>4. Acceptance of Terms</h2>
    
        <p>By accessing and using the Platform, you agree to all the terms and conditions outlined in these Terms of Use. If you do not agree, please refrain from using the Platform.</p>
    </div>

</section>


{% endblock content %}