<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bolder">What is website about?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>URL Short <small style="font-size: 10px;">BETA</small> is an open-source URL shortener developed by <a href="https://github.com/oaokm" target="_blank" class="link-with-out-decoration"><i class="bi bi-github"> </i>oaokm</a> using Flask. Our platform provides a simple and efficient way to shorten long URLs, making them easier to share and manage.</p>

                <h2>Key Features:</h2>
            
                <ul>
                    <li><strong>URL Shortening:</strong> Quickly shorten lengthy URLs with just a few clicks.</li>
                    <!-- <li><strong>Customization:</strong> Personalize your short links for easy recognition.</li>
                    <li><strong>Analytics:</strong> Track the performance of your links with built-in analytics.</li> -->
                    <li><strong>Open Source:</strong> URL Short <small style="font-size: 10px;">BETA</small> is an open-source project, contributing to transparency and community collaboration.</li>
                    <li><strong>Developed with Flask:</strong> Our platform leverages Flask, a lightweight and powerful web framework in Python.</li>
                </ul>
            
                <p>Join our community and start using URL Short <small style="font-size: 10px;">BETA</small> today! Feel free to explore the source code on our GitHub repository and even contribute to its development.</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
