<!-- Footer-->
<footer class="footer bg-light mt-auto" >
    <div class="container p-3">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <!-- <li class="list-inline-item"><a href="#" class="link link-ana">About</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#" class="link link-ana">Contact</a></li>
                    <li class="list-inline-item">⋅</li> -->
                    <li class="list-inline-item"><a href="{{ url_for( 'mainBp.termsOfUse' ) }}" class="link link-ana">Terms of Use</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="{{ url_for( 'mainBp.privacyPolicy' ) }}" class="link link-ana">Privacy Policy</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; OS | Osamah Awadh 2023-2024. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="https://t.me/Osamah_101" target="_blank"><i class="bi-telegram fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="https://x.com/oaokm3900" target="_blank"><i class="bi-twitter-x fs-3"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://instagram.com/oaokm6" target="_blank"><i class="bi-instagram fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>